.wrapper {
  display: grid;
  grid-template-columns: 226px 543px 324px;
  grid-column-gap: 24px;
  width: 1136px;
  margin: 0 auto;
  margin-top: 20px;
  height: 150vh;
}

// display: grid;
// grid-template-columns: 20% 35% 25%;
// grid-column-gap: 24px;
// justify-content: center;
// // width: 1136px;
// // margin: 0 auto;
// margin-top: 20px;
