.anotherProfileBox {
  display: flex;
  gap: 50px; /* Відповідає стилю .profileBox */
  justify-content: center;
  margin-top: 20px;

  :first-child {
    align-self: start; /* Додаємо, як у .profileBox */
  }
}

@media (max-width: 787px) {
  .anotherProfileBox {
    display: grid;
    grid-template-columns: 1fr; /* Зміна на одноколонковий вигляд для мобільних */
    gap: 50px;
    margin: 20px 30px; /* Аналогічний відступ */
  }
}

.anotherProfileFooter {
  margin-top: 40px; /* Як у .profileFooter */
}
