.wrapper {
    width: 23px;
    height: 23px;
    border-radius: 50%; /* Щоб зробити елемент колом */
    border: 1px solid grey;
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center;     /* Центрування по вертикалі */
    overflow: hidden;        /* Якщо зображення більше за круг, обрізаємо його */

    img {
        width: 100%;  /* Зробимо картинку по ширині кола */
        height: 100%; /* Зробимо картинку по висоті кола */
        object-fit: cover; /* Це дозволить зображенню правильно масштабуватись всередині кола */
        border-radius: 50%; /* Щоб зробити картинку круглою */
    }
}
