.firstPageWrapper {
    height: 125vh; /* Займає 100% висоти вікна */
    display: flex; /* Вирівнювання дочірніх елементів */
    flex-direction: column; /* Вирівнює елементи по вертикалі */
    box-sizing: border-box;
    background-color: white;
} 