.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container{
    width: 300px;
  }
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
   
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-defolt {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 280px;
    margin-bottom: 20px;
  }
  
  .input-password{
    width: 262px;
  }

  .submit-button {
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    
  }
  
  .gogle-button{
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .gogle-button:hover{
    background-color: #3CB878CC;
  }


  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: rgb(10, 102, 194);
}

.input-emeil{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  color: rgb(10, 102, 194);
}

.remember-label{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  gap: 15px;
  color: rgb(10, 102, 194);
  margin-bottom: 20px;
}

.toggle{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  
} 

.highlight {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  
  color:blue ;
 
  cursor: pointer;
  transition: color 0.3s ease;
}

 .highlight:hover {
  color: #007bff; 
  text-decoration: underline; 
}

.auth-line{
  width: 100%;
  margin-bottom: 20px;
}
.container-pasword{
  position: relative;
}

.submit-button2{
 
    height: 43px;
    color: white;
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.submit-button2:hover {
  background-color: #0056b3;
}
.input-reset__pasword{
  width: 280px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.reset-button{
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: rgb(10, 102, 194);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
}

.password-toggle-btn{
  position: absolute;
  right: 25px;
  top: 33%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
